.tab-buttons {
    padding: 0 14px;
    border-bottom: 1px solid lightgrey;
}

.tab-buttons button {
    padding: 5px 10px;
    background: none;
}

.tab-buttons button:nth-child(even) {
    margin: 0 10px;
}

.favourite-posts {
    max-width: 1140px;
    padding:  10px 24px;
}

.popular-posts {
    padding:  10px 24px;
}

.all-posts {
    max-width: 1140px;
    margin: 0 auto;
}

.blog-header {
    margin-bottom: 10px;
}

.active {
    box-shadow: inset 0 -3px 0 darkgray;
}