.selected-post {
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px 0 20px 0;
}

.selected-title {
    max-width: 1000px;
    margin: 0 auto 20px auto;
}

.selected-image {
    max-width: 1140px;
    height: 300px;
    margin-bottom: 20px;
}

.selected-image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.selected-text {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.selected-post button {
    padding: 5px;
    font-size: 20px;
    background-color: lightgray;
    border-radius: 5px;
}

.selected-footer {
    display: flex;
    justify-content: space-between;
}

.favourites span{
    font-size: 10pt;
    vertical-align: text-top;
    margin-left: 5px;
}

.post-votes button {
    width: 50%;
}

.post-likes {
    margin-right: 2px;
}

.post-pagination {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 0 10px;
}

.prev-post {
    display: flex; 
}

.next-post {
    display: flex;
}

.prev-info {
    margin-left: 5px;
}

.next-info {
    margin-right: 5px;
    text-align: end;
}

.arrow {
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.title {
    color: lightgrey;
}

p {
    margin-bottom: 0;
}