* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: sans-serif;
}

.header {
    display: flex;
    width: 100%;
    height: 50px;
    color: #fff;
    position: fixed;
}

.header button {
    width: 50px;
    color: #fff;
    background-color: blue;
}

.header .search-input {
    background-color: rgba(89, 99, 197);
    color: #fff;
    flex-grow: 1;
    padding: 0 20px;
}

.user {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: blue;
    color: #fff;
    width: max-content;
}

.user .user-avatar {
    margin-right: 10px;
    padding: 5px;
    background-color: rgba(89, 99, 197);
    border-radius: 5px;
}  

.burger-menu {
    position: fixed;
    margin-top: 50px;
    width: 160px;
}

.burger-menu button {
    width: 50%;
    padding: 10px 0;
    background: #fff;
}

.dark-burger-menu button{
    background-color: #2F2F2F;
    color: lightgray;
}