.sign-in-form {
    width: 32%;
    margin: 0 auto;
    padding: 20px;
}

.light-sign-in-form {
    border: 2px solid lightgrey;
    color: black;
}

.dark-sign-in-form {
    border: 2px solid darkgrey;
    color: lightgrey;
}

.sign-in-button {
    width: 100%;
}

.no-account-text {
    display: flex;
    justify-content: center;
}