* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.item {
    border: 1px solid #000;
    max-width: 200px;
    margin-bottom: 5px;
}
.item h3 {
    margin-bottom: 5px;
}

.item form {
    display: flex;
    flex-direction: column;
}