.footer {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px 10px 10px;
    color: lightgrey;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.line {
    height: 1px;
    background-color: black;
    max-width: 1140px;
    margin: 0 auto;
    background-color: lightgrey;
}