.dark-main-content {
    background-color: #2F2F2F;
    color: lightgray;
}

.dark-footer {
    background-color: #2F2F2F;
}

.dark-app {
    background-color: #2F2F2F;
}

.dark-tab {
    color: lightgrey;
}

.dark-post-btn {
    color: lightgray;
}

.dark-burger-menu button{
    background-color: #2F2F2F;
}